.video-js {
      margin: 40px auto;
    }
    /* Change all text and icon colors in the player. */
.vjs-matrix.video-js {
  color: #b19254;
}
.video-js .vjs-big-play-button {
    font-size: 3em;
    line-height: 3em;
    height: 3em;
    width: 3em;
    border: none;
    background-color: #262324;
    background-color: rgba(38, 35, 36, 0.7);
    border-radius: 50%;
   
}
.vjs-matrix.video-js:hover .vjs-big-play-button {
    border: none;
    background-color: #262324;
    background-color: rgba(38, 35, 36, 0.7);
    
}
.vjs-matrix.video-js .vjs-big-play-button:hover, .video-js .vjs-big-play-button:focus {
    border: 1px solid #b19254;
    background-color: #262324;
    background-color: rgba(38, 35, 36, 0.7);
    
}

.video-js .vjs-big-play-button:before {
    content: "\f101";
    font-size:80px;
    color:#4f4c4d;
}
.video-js .vjs-big-play-button:hover::before 
{
    color:#262324;
}



.vjs-control-bar .vjs-play-control{
    height: 1em;
    width: 1em;
    border: none;
    background-color: #262324;
    background-color: rgba(38, 35, 36, 0.7);
    border-radius: 50%;
}

.video-js .vjs-control-bar {
     height: 5.5em;      background: #222;
}

.video-js .vjs-control {
    font-size: 20px;
    margin-left: 10px;
}
.vjs-matrix  .vjs-menu-button-popup .vjs-menu .vjs-menu-content .vjs-menu-item{
    color:#fff;
}
.vjs-resolution-button .vjs-menu .vjs-menu-content {
    width: 5em;
}
.vjs-menu li.vjs-menu-item:focus, .vjs-menu li.vjs-menu-item:hover {
    background-color: #b19254;
    background-color: rgba(177,146,84 0.7);
}

.vjs-menu li.vjs-selected, .vjs-menu li.vjs-selected:focus, .vjs-menu li.vjs-selected:hover {
    background-color: #b19254;
    background-color: rgba(177,146,84 0.7);
    color: #fff;
}
.vjs-menu li.vjs-menu-item {
    font-size:16px;
    text-align: left;
    
}
.vjs-menu li.vjs-menu-item:before {
    content: "\25CF";
    color:#fff;  
    margin-right:5px;
    margin-left:5px;
}
.vjs-brand-container{
    margin-top:-10px;
}
.video-js  .vjs-time-control.vjs-time-divider
{
    display: block;
    font-size: 20px;
    color: #fff;
    padding-left: 2px;
    padding-right: 0;
    width: 0 !important;
    margin-right: -39px;
}
.video-js  .vjs-current-time.vjs-time-control.vjs-control{
    display:block;
    color:#fff;
    padding-right: 0;
}
.video-js  .vjs-duration.vjs-time-control.vjs-control{
    display:block;
    color:#fff;
    padding-left: 0;
    
}
.video-js .vjs-live-control { display: block; }

/* Change the color of various "bars". */
.vjs-matrix .vjs-volume-level,
.vjs-matrix .vjs-play-progress,
.vjs-matrix .vjs-slider-bar {
  background: #b19254;
}
   
   .vjs-matrix  .vjs-menu-button-popup .vjs-resolution-button-label{
/*        font-size:20px;
        font-weight: 500;*/
    }
    
