@charset "utf-8";
/* CSS Document */

body p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Verdana, Geneva, sans-serif;
    color: #222222;
}
span {
    font-weight: bold;
    font-family: calibri;
    font-size: 11pt;
}
#header {
    background: #1d2317;
    color: #fff;
    padding: 1em 0;
    height: 112px;
}
#header p {
    text-align: center
}
#header .cursive {
    font-family: Brush Script Std;
    font-size: 1.5em;
    color: #bc9f60
}
#header .space {
    letter-spacing: 2px;
    font-family: AvantGardeBook;
    margin-top: -8px;
    font-size: 1em
}
.form-control-feedback {
    right: 78px;
}
.top-year img {
    margin-left: 76px;
    z-index: 99999;
    position: absolute;
    margin-top: 0px;
    width: 69%;
}
/*--Navigation --*/

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: rgba(231, 231, 231, 0);
    margin-left: 45px;
}
.navbar-default {
    background-color: #1d2317;
    border-color: #1d2317;
}
.navbar-default .navbar-nav > li > a {
    color: #FFF;
    font-size: 12px;
    padding: 0px;
    /* padding: 7px; */
    
    padding-left: 13px;
    padding-top: 14px;
    padding-right: 7px;
    font-family: verdana;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #bc9f60;
    /* padding: 10px;*/
    
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: -3px;
    margin-top: 9px;
    padding-right: 14px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: transparent;
    /*padding: 10px;*/
}
.navbar {
    margin-left: 14px;
    position: relative;
    min-height: 0px;
    margin-top: -17px;
}
.has-warning .form-control {
    border-color: #fff;
}
#header .form-control {
    background-color: #1d2317;
    border: 1px solid #fff;
    color: #fff;
    margin-left: -62%;
    margin-top: 25px;
    width: 122%;
}
#header input:focus {
    outline: none;
    box-shadow: none;
}
.top-logo img {
    width: 520px;
    margin-left: 124px;
}
/*-- Header 1 --*/
/*slider*/

.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #bc9f60;
}
/*--slider end--*/

#header1 {
    background: #000;
    padding: 4px
}
#header1 p {
    color: #fff;
    text-align: center
}
#header input::-webkit-input-placeholder {
    color: #fff;
}
/*--Footer 1--*/

#footer1 {
    background: #3c4920;
    padding: 4px;
    color: #fff
}
#footer1 p {
    text-align: center
}
/*--Footer--*/

#footer {
    background: #222222;
    padding: 12px;
    text-align: center;
}
#footer .nav-footer li a {
    display: inline-block;
    float: left;
    text-decoration: none;
    color: #ad9259;
    margin-left: 1.2em;
    font-size: 12px;
    padding-top: 6px;
    margin-top: -19px;
}
#footer .nav-footer li {
    list-style: none;
    margin-left: -58px;
    margin-top: 13px;
}
#footer .nav-footer > li.active>a {
    border-top: 6px solid #ad9259;
    margin-top: -25px;
}
#footer .footer-copy {
    color: #464646;
    margin: 1em 0px
}
/*----------------------------------------------------------------------
-------------------------ABOUT US-----------------------------------------*/

#about-us {
    padding: 60px 0
}
#about-us h3 {
    text-align: center;
    font-weight: bolder
}
.breadcrumb {
    padding: 11px 45px;
    margin-bottom: 0px;
    list-style: none;
    background: #f8f7f7;
    border-radius: 0px;
    width: 90.2%;
    margin-left: -17px;
}
hr {
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0;
    border-top: 1px solid #eee;
}
.breadcrumb a {
    color: #bc9f60;
    text-decoration: none;
}
.breadcrumb .active {
    color: #b5b5b5
}
#about-us .abt {
    margin-top: 1em;
    text-align: justify;
    margin-left: 3em;
    margin-right: 3em;
}
#about-us .abticon img {
    margin-right: 1em;
    margin-left: 46px;
}
#about-us .black-strip {
    background: #000;
    /* padding: 6px 0px 0px 0px;*/
    color: #fff;
    margin-top: -30px;
}
.text-border {
    border-bottom: 1px solid #222;
    width: 34%;
    margin-top: 9px;
    margin-left: 33%;
    margin-bottom: 26px;
}
#about-us .back-gray {
    background-color: #f8f7f7;
    margin-left: 75px;
    margin-right: 65px;
    padding: 11px 0px 51% 0px
}
#about-us .back-gray1 {
    background-color: #f8f7f7;
    margin-left: 75px;
    margin-right: 65px;
    padding: 11px 0px 66% 0px;
    margin-top: -20px;
    margin-bottom: -20%;
}
#about-us .back-gray2 {
    background-color: #f8f7f7;
    margin-left: 75px;
    margin-right: 65px;
    padding: 30px 0px 8% 0px;
    margin-top: -59px;
}
/*----------------------------------------------------------------------
-------------------------contact US-----------------------------------------*/

#contact {
    padding: 0px 0px 0px 0px;
}
#contact h3 {
    text-align: center;
    font-weight: bolder;
}
#contact h2 {
    text-align: center;
    font-weight: bolder;
    font-size: 19px;
}
#contact h4 {
    color: #bc9f60;
    text-align: center;
    font-weight: bold;
    margin-top: 14px;
    font-size: 16px;
}
#contact p {
    text-align: center;
    color: #707081;
    margin-top: -8px;
}
#contact .abticon img {
    margin-right: 1em;
    margin-left: 8em;
}
#contact .black-strip {
    background: #000;
    /* padding: 6px 0px 0px 0px;*/
    
    color: #fff
}
#contact .back-gray {
    background-color: #f8f7f7;
    margin-left: 75px;
    margin-right: 65px;
    padding: 11px 0px 36% 0px
}
.text-border-contact {
    border-bottom: 1px solid #222;
    width: 18%;
    margin-top: 9px;
    margin-left: 41%;
    margin-bottom: 26px;
}
.address-bottom-line {
    border-bottom: 2px solid #cbc9c9;
    width: 52%;
    margin-top: 9px;
    margin-left: 24%;
    margin-bottom: -6px;
}
#contact .back-gray1 {
    background-color: #f8f7f7;
    margin-left: 75px;
    margin-right: 65px;
    padding: 11px 0px 44% 0px;
    margin-top: -20px;
    margin-bottom: -59px;
}
#contact .back-gray2 {
    background-color: #f8f7f7;
    margin-left: 75px;
    margin-right: 65px;
    padding: 30px 0px 8% 0px;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #91919d;
    background-color: #e9eaec;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
    border-color: #bc9f60;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(188, 159, 96, .5);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(188, 159, 96, .5);
}
.btn-primary {
    color: #fff;
    border-color: #bc9f60;
    background-color: #bc9f60;
}
.btn {
    display: inline-block;
    padding: 3px 18px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 0px;
}
.btn-primary:hover {
    color: #bc9f60;
    background-color: #fff;
    border-color: #bc9f60;
}
/*----------------------------------------------------------------------
-------------------------TUMOR BOARD-----------------------------------------*/

#tumor-board .back-gray {
    background-color: #f8f7f7;
    margin-left: 75px;
    margin-right: 65px;
    padding: 11px 0px 39% 0px;
}
#tumor-board .back-gray1 {
    background-color: #f8f7f7;
    margin-left: 60px;
    margin-right: 50px;
    padding: 11px 0px 7px 0px;
}
#tumor-board {
    /*  padding: 0px 0px 60px 0;*/
}
#tumor-board h3 {
    text-align: center;
    font-weight: bolder
}
#tumor-board .tumor-image img {
    margin-top: 1em;
    width: 94%;
}
.tumor-border {
    border-bottom: 1px solid #222;
    width: 20%;
    margin-top: 9px;
    margin-left: 40%;
    margin-bottom: 26px;
}
.tumor-head img {
    width: 90%;
    margin-left: 61px;
}
.abt-breadcrumb {
    margin-left: 77px;
}
/* cancer1*/

#tumor-board .pink-strip {
    background: #f692b4;
    color: #fff;
    padding: 5px 0px 0px 12px;
    width: 999px;
    height: 33px;
    margin-left: 305px;
}
.pink-strip p {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
#tumor-board .grey-strip {
    background: #c1bebe;
    padding: 1px 0px 0px 57px;
    height: 26px;
    margin-top: 16px;
    margin-left: 2%;
}
.grey-strip p {
    color: black;
    font-family: calibri;
    font-size: 14pt;
    font-weight: bold;
}
.cancertext span {
    color: #0c7abf;
    font-family: calibri;
    font-weight: bold;
    font-size: 19px;
    margin-left: 59px;
}
.cancertext h5 {
    font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-size: 19px;
    color: #000;
    margin-top: 12px;
}
.texth5 {
    margin-left: -25%;
}
.textspan {
    margin-top: 8px;
}
.texth51 {
    margin-left: -1px;
}
#tumor-board .light-strip {
    background: #f6d2d2;
    color: #fff;
    padding: 1px 0px 0px 59px;
    /* width: 881px; */
    /* height: 26px; */
    
    margin-top: 16px;
    margin-left: 17px;
}
.light-strip p {
    color: black;
    font-family: calibri;
    font-size: 14pt;
    font-weight: bold;
}
.textspan1 {
    margin-top: 8px;
    margin-left: 2px;
}
.margin-top-16 {
    margin-top: 16px;
}
.textteam {
    margin-left: -8%;
}
/* cancer1 end*/
/* cancer new*/

#tumornew .verticalline {
    border-right: 1px solid #cbc9c9;
    height: 100%;
}
#tumornew .top-image img {
    width: 90%;
    margin-left: 61px;
}
#tumornew .black-stip {
    background-color: #f692b4;
    padding: 1px 4px;
    margin-left: 75px;
    margin-right: 65px;
}
#tumornew .insidespan {
    float: right;
    margin-right: 171px;
}
#tumornew .black-stip span {
    margin-left: 24px;
    color: #fff;
    font-size: 18px
}
#tumornew .back-blue {
    background-color: #fcf0f4;
    margin-left: 75px;
    margin-right: 65px;
    /*padding: 0px 0px 1px 0px;*/
}
#tumornew .back-blue .blue-stip {
    background-color: #c1bebe;
    margin-top: 19px;
}
#tumornew .back-blue .blue-stip span {
    margin-left: 2em;
    color: #000
}
#tumornew .back-blue .skyblue-stip {
    background-color: #f6d2d2;
    margin-bottom: 16px;
}
#tumornew .back-blue .skyblue-stip span {
    margin-left: 2em;
    color: #000
}
/* cancer new end*/
/*-----------------------------------------------------
 -----------CONFERENCE PROCEDINGS-------------------*/

.text-border-confer {
    border-bottom: 1px solid #222;
    width: 38%;
    margin-top: 9px;
    margin-left: 31%;
    margin-bottom: 26px;
}
.back-gray-confering {
    background-color: #f8f7f7;
    margin-left: 90px;
    margin-right: 79px;
    padding: 11px 0px 218% 0px;
}
.back-gray-head {
    background-color: #f8f7f7;
    margin-left: 90px;
    margin-right: 79px;
    padding: 11px 0px 36% 0px;
}
.confer-head h5 {
    font-size: 13pt;
    text-align: center;
    margin-left: -101px;
    font-weight: bold;
    color: #666565;
}
.confer1-border {
    border-bottom: 1px solid #c2c0c0;
    width: 27%;
    margin-top: 9px;
    margin-left: 30%;
    margin-bottom: 26px;
}
.confer-border {
    border-bottom: 1px solid #c2c0c0;
    width: 38%;
    margin-top: 9px;
    margin-left: 31%;
    margin-bottom: 26px;
}
.sidenav {
    left: 97%;
    margin-left: -183px;
    /* top: 50px; */
    /* position: absolute; */
    
    font-size: 16px;
}
.dropdownside {
    /*background:#fff;
    border:1px solid #ccc;
    border-radius:4px;
    width:300px; */
    
    list-style-type: none;
}
.dropdown-menu>li>a {
    color: #000;
    text-align: center;
}
.dropdownside ul.dropdown-menu {
    border: none;
    box-shadow: none;
    background: #dfdede;
}
/*.dropdownside ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #000;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: 0px;
    right: 73px;
    z-index: 10;
    transform: rotate(180deg);
    }*/

.dropdownside ul.dropdown-menu:after {
    content: "";
    /*border-bottom: 12px solid #ccc;*/
    
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 14px;
    z-index: 9;
}
@media (min-width: 768px) {
    .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px;
        text-decoration: none;
    }
}
.dropborder {
    border-top: 1px solid #c2c0c0;
}
.dropdown-menu .divider {
    height: 1px;
    width: 68px;
    margin-left: 50px;
    /* margin: 4px 0; */
    
    overflow: hidden;
    background-color: #c2c0c0;
    margin-top: 3px;
    margin-bottom: 3px;
}
.drop>li>a:focus,
.drop>li>a:hover {
    color: black;
    text-decoration: none;
    background-color: #dfdede;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #bc9f60;
    color: #fff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #1d2317;
}
.drop>.active>a,
.drop>.active>a:focus,
.drop>.active>a:hover {
    color: #bc9f60;
    text-decoration: none;
    outline: 0;
    background-color: #dfdede;
}
.dropdownside a {
    color: #bc9f60;
}
.confer-head-img1 img {
    width: 100%;
    padding-right: 11%;
    margin-bottom: 8px;
}
.sidelist {
    margin-top: 25px;
}
.dropborder1 {
    border-top: 1px solid #c2c0c0;
    margin-top: 5px;
    margin-bottom: -3px;
    width: 164px;
    text-align: center;
}
/*new*/

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 1px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #ccc;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.caret {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #000000;
    padding-top: -11px;
    margin-top: -23px;
    margin-left: 73px;
}
.dropdownside a {
    color: #bc9f60;
}
/*-----------------------------------------------------
-----------CONFERENCE PROCEDINGS end-------------------*/
/*----------------- virtual---------------------------------------------------*/

.virtual-border {
    border-bottom: 1px solid #222;
    width: 30%;
    margin-top: 9px;
    margin-left: 35%;
    margin-bottom: 26px;
}
#virtual .back-gray {
    background-color: #f8f7f7;
    margin-left: 75px;
    margin-right: 65px;
    padding: 11px 0px 72% 0px;
}
#virtual .back-gray1 {
    background-color: #f8f7f7;
    margin-left: 60px;
    margin-right: 50px;
    padding: 11px 0px 7px 0px;
}
#virtual {
    padding: 0px 0px 0px 0;
}
#virtual h3 {
    text-align: center;
    font-weight: bolder
}
#virtual .tumor-image img {
    margin-top: 1em;
    width: 94%;
}
#gynecology .back-blue .skyblue-stip-bottom10 {
    background-color: #91d2fd;
    margin-bottom: 10px;
}
#gynecology .back-blue .skyblue-stip-bottom10 span {
    margin-left: 2em;
    color: #ec344d;
}
.btn-view-ibcr img {
    margin-top: -4px;
}
/* ----------virtual classroom end-------------------------------------------------------*/
/*----------------------------------------------------------------------------
------------------- BREAT CANCER.PHP-----------------------------------------*/

#breast-cancer .top-image img {
    width: 90%;
    margin-left: 61px;
}
#breast-cancer .black-stip {
    background-color: #021426;
    padding: 6px 4px;
    margin-left: 75px;
    margin-right: 65px;
}
#breast-cancer .black-stip span {
    margin-left: 2em;
    color: #fff
}
#breast-cancer .back-blue {
    background-color: #d3ecfd;
    margin-left: 75px;
    margin-right: 65px;
    /*padding: 11px 0px 34px 0px;*/
}
#breast-cancer .back-blue .blue-stip {
    background-color: #06315c;
    width: 80%
}
#breast-cancer .back-blue .blue-stip span {
    margin-left: 2em;
    color: #FFF
}
#breast-cancer .back-blue .pink {
    color: #b45d8c
}
#breast-cancer .back-blue .mlr1 {
    margin-left: 2em;
    margin-right: 1em;
    padding: 1em 0
}
#breast-cancer .back-blue .sentence {
    margin-top: 13px;
    margin-left: 2em;
    margin-right: 23%;
    color: #000;
    text-align: justify;
}
#breast-cancer .back-blue .author {
    /*margin-right: 1em;*/
    
    color: #0082fe
}
#breast-cancer .back-blue .skyblue-stip {
    background-color: #91d2fd;
    width: 80%
}
#breast-cancer .back-blue .skyblue-stip span {
    margin-left: 2em;
    color: #ec344d
}
#breast-cancer .back-blue .mlr2 {
    margin-left: 2em;
    margin-right: 1em;
    margin-top: 12px;
}
/*----------------------------------------------------------------------------
------------------- HEALTHCARE.PHP-----------------------------------------*/

#healthcare .black-stip {
    background-color: #0b1030;
    padding: 6px 4px;
    margin-left: 76px;
    margin-right: 65px;
}
#healthcare .insidespan {
    float: right;
    margin-right: 0px;
}
.verticalline {
    border-right: 1px solid #001931;
    height: 100%;
}
#healthcare .top-image img {
    width: 90%;
    margin-left: 61px;
}
#healthcare .black-stip span {
    margin-left: 25px;
    color: #fff;
    font-weight: normal;
    font-size: 17px;
}
#healthcare .back-blue {
    background-color: #eaeffc;
    margin-left: 75px;
    margin-right: 65px;
    /*padding: 11px 0px 34px 0px;*/
}
#healthcare .back-blue .blue-stip {
    background-color: #2c3049;
    margin-top: 19px;
}
#healthcare .back-blue .blue-stip span {
    margin-left: 2em;
    color: #FFF
}
#healthcare .back-blue .pink {
    color: #b45d8c
}
#healthcare .back-blue .mlr1 {
    margin-left: 2em;
    margin-right: 1em;
    padding: 1em 0
}
#healthcare .back-blue .sentence {
    margin-top: 13px;
    margin-left: 2em;
    color: #000;
    text-align: justify;
}
#healthcare .back-blue .sentence1 {
    margin-top: -13px;
    margin-left: 2em;
    color: #000;
    text-align: justify;
}
#healthcare .back-blue .author {
    margin-left: 2em;
    color: #0082fe;
    margin-bottom: 25px;
    margin-top: -11px;
}
#healthcare .back-blue .skyblue-stip {
    background-color: #d8e0f3;
    margin-bottom: 16px;
    margin-top: -16px;
}
#healthcare .back-blue .skyblue-stip span {
    margin-left: 2em;
    color: #000
}
#healthcare .back-blue .mlr2 {
    margin-left: 2em;
    margin-right: 1em;
    margin-top: 12px;
}
/*Gybecology end*/
/* new*/
/* gynecology*/
/*------gynecology color--*/
#gynecology .back-grey {
    background-color: #ebecec;
    margin-left: 75px;
    margin-right: 65px;
    /*padding: 11px 0px 34px 0px;*/
}
#gynecology .grey-stip {
    background-color: #5c6363;
    margin-top: 19px;
}
#gynecology .grey-stip span {
    margin-left: 2em;
    color: #FFF
}
#gynecology .lightgrey-stip {
    background-color: #c1bebe;
    margin-bottom: 16px;
    margin-top: 3px;
}
#gynecology .lightgrey-stip span {
    margin-left: 2em;
    color: #ec344d
}
#gynecology .content-bottom p {
    margin-top: 11px;
}
#gynecology .insidespan {
    float: right;
    margin-right: 15px;
}
.verticalline {
    border-right: 1px solid #001931;
    height: 100%;
}
#gynecology .top-image img {
    width: 90%;
    margin-left: 61px;
}
#gynecology .black-stip {
    background-color: #021426;
    padding: 1px 4px;
    margin-left: 75px;
    margin-right: 65px;
}
#gynecology .black-stip span {
    margin-left: 25px;
    color: #fff;
    font-weight: normal;
    font-size: 17px;
}
#gynecology .pink {
    color: #b45d8c
}
#gynecology .mlr1 {
    margin-left: 2em;
    margin-right: 1em;
    padding: 1em 0
}
#gynecology .sentence {
    margin-top: 13px;
    margin-left: 2em;
    color: #000;
    text-align: justify;
}
#gynecology .sentence1 {
    margin-top: -13px;
    margin-left: 2em;
    color: #000;
    text-align: justify;
}
#gynecology .author {
    margin-left: 2em;
    color: #0082fe;
    margin-bottom: 25px;
    margin-top: -11px;
}
#gynecology .mlr2 {
    margin-left: 2em;
    margin-right: 1em;
    margin-top: 12px;
}
/*------gynecology color end--*/
/*------nag-foundation color --*/
#gynecology .back-brown {
    background-color: #f7e8cd;
    margin-left: 75px;
    margin-right: 65px;
    /*padding: 11px 0px 34px 0px;*/
}
#gynecology .brown-stip {
    background-color: #1e1c11;
    margin-top: 19px;
}
#gynecology .brown-stip span {
    margin-left: 2em;
    color: #FFF
}

#gynecology .lightbrown-stip {
    background-color: #c7b18b;
    margin-bottom: 16px;
}
#gynecology .lightbrown-stip span {
    margin-left: 2em;
    color: #ec344d
}
/*------nag-foundation color end--*/
/*------Satellite--*/
#gynecology .back-violet {
    background-color: #ccc9e8;
    margin-left: 75px;
    margin-right: 65px;
    /*padding: 11px 0px 34px 0px;*/
}
#gynecology .violet-stip {
    background-color: #544f89;
    margin-top: 19px;
}
#gynecology .violet-stip span {
    margin-left: 2em;
    color: #FFF
}

#gynecology .lightviolet-stip {
    background-color: #9a96c3;
    margin-bottom: 16px;
}
#gynecology .lightviolet-stip span {
    margin-left: 2em;
    color: #000;
}
/*------Satellite end--*/
/*------tmh wci--*/
#gynecology .back-purple {
    background-color: #dcdaec;
    margin-left: 75px;
    margin-right: 65px;
    /*padding: 11px 0px 34px 0px;*/
}
#gynecology .purple-stip {
    background-color: #8f3a7a;
    margin-top: 19px;
}
#gynecology .purple-stip span {
    margin-left: 2em;
    color: #FFF
}
#gynecology .lightpurple-stip {
    background-color: #bbb5d9;
    margin-bottom: 16px;
}
#gynecology .lightpurple-stip span {
    margin-left: 2em;
    color: #ec344d;
}
/*------tmh end--*/
/*------oncology --*/
#gynecology .back-bluee {
    background-color: #c7d7f9;
    margin-left: 75px;
    margin-right: 65px;
    /*padding: 11px 0px 34px 0px;*/
}
#gynecology .bluee-stip {
    background-color: #344e8b;
    margin-top: 19px;
}
#gynecology .bluee-stip span {
    margin-left: 2em;
    color: #FFF
}
/*------oncology end--*/
/*------colognitude --*/
#gynecology .back-red {
    background-color: #f3d3ce;
    margin-left: 75px;
    margin-right: 65px;
    /*padding: 11px 0px 34px 0px;*/
}

#gynecology .lightred-stip {
    background-color: #e29a9d;
    margin-bottom: 16px;
}
#gynecology .lightred-stip span {
    margin-left: 2em;
    color: #000;
}
/*------colognitude end--*/
/* lung*/
#gynecology .back-green {
    background-color: #cefeff;
    margin-left: 75px;
    margin-right: 65px;
    /*padding: 11px 0px 34px 0px;*/
}

#gynecology .lightgreen-stip {
    background-color: #76a8b7;
    margin-bottom: 16px;
}
#gynecology .lightgreen-stip span {
    margin-left: 2em;
    color: #000;
}
/* lung end*/ 
/* acos*/
#gynecology .back-gold {
    background-color: #f3f0ec;
    margin-left: 75px;
    margin-right: 65px;
    /*padding: 11px 0px 34px 0px;*/
}

#gynecology .lightgold-stip {
    background-color: #d2bfa5;
    margin-bottom: 16px;
}
#gynecology .lightgold-stip span {
    margin-left: 2em;
    color: #ec344d;
}
/* acos end*/ 
/*siop*/
#gynecology .back-blue1 {
    background-color: #b3e3f1;
    margin-left: 75px;
    margin-right: 65px;
    /*padding: 11px 0px 34px 0px;*/
}
#gynecology .blue1-stip {
    background-color: #00aff0;
    margin-top: 19px;
}
#gynecology .blue1-stip span {
    margin-left: 2em;
    color: #FFF
}
#gynecology .lightblue1-stip {
    background-color: #80cce8;
    margin-bottom: 16px;
}
#gynecology .lightblue1-stip span {
    margin-left: 2em;
    color: #000;
}
/*siop end*/
/*hematology*/
#gynecology .back-pinky {
    background-color: #f8eef6;
    margin-left: 75px;
    margin-right: 65px;
    /*padding: 11px 0px 34px 0px;*/
}
/* hematology end*/
/*practium-pediatric*/
#gynecology .back-red1 {
    background-color: #eacbca;
    margin-left: 75px;
    margin-right: 65px;
    /*padding: 11px 0px 34px 0px;*/
}
#gynecology .red1-stip {
    background-color: #06315c;
    margin-top: 19px;
}
#gynecology .red1-stip span {
    margin-left: 2em;
    color: #FFF
}

#gynecology .lightred1-stip {
    background-color: #8a5759;
    margin-bottom: 16px;
}
#gynecology .lightred1-stip span {
    margin-left: 2em;
    color: #fff;
}
/*practium-pediatric end*/
#gynecology .back-blue {
    background-color: #d3ecfd;
    margin-left: 75px;
    margin-right: 65px;
    /*padding: 11px 0px 34px 0px;*/
}
#gynecology .blue-stip {
    background-color: #06315c;
    margin-top: 19px;
}
#gynecology .blue-stip span {
    margin-left: 2em;
    color: #FFF
}

#gynecology .skyblue-stip {
    background-color: #91d2fd;
    margin-bottom: 16px;
}
#gynecology .skyblue-stip span {
    margin-left: 2em;
    color: #ec344d
}

/*Gybecology end*/
/*abc*/

.abc-top {
    margin-top: -8px;
}
.btn-view img {
    margin-top: 19px;
}
.btn-view1 img {
    margin-top: 13px;
}
.btn-view2 img {
    margin-top: -1px;
}
/*abc*/
/* -----------------------------------------------------------------------------------------
-------------------Slider start---------------------------------------------------*/

.bs-slider {
    overflow: hidden;
    max-height: 100%;
    position: relative;
    background: #000000;
}
.bs-slider > .carousel-inner > .item > img,
.bs-slider > .carousel-inner > .item > a > img {
    margin: auto;
    width: 100% !important;
}
/********************
*****Slide effect
**********************/

.fade {
    opacity: 1;
}
.fade .item {
    top: 0;
    z-index: 1;
    opacity: 0;
    width: 100%;
    position: absolute;
    left: 0 !important;
    display: block !important;
    -webkit-transition: opacity ease-in-out 1s;
    -moz-transition: opacity ease-in-out 1s;
    -ms-transition: opacity ease-in-out 1s;
    -o-transition: opacity ease-in-out 1s;
    transition: opacity ease-in-out 1s;
}
.fade .item:first-child {
    top: auto;
    position: relative;
}
.fade .item.active {
    opacity: 1;
    z-index: 2;
    -webkit-transition: opacity ease-in-out 1s;
    -moz-transition: opacity ease-in-out 1s;
    -ms-transition: opacity ease-in-out 1s;
    -o-transition: opacity ease-in-out 1s;
    transition: opacity ease-in-out 1s;
}
/*---------- INDICATORS CONTROL ----------*/

.indicators-line > .carousel-indicators {
    right: 45%;
    bottom: 3%;
    left: auto;
    width: 90%;
    height: 20px;
    font-size: 0;
    overflow-x: auto;
    text-align: right;
    overflow-y: hidden;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    white-space: nowrap;
}
.indicators-line > .carousel-indicators li {
    padding: 0;
    width: 15px;
    height: 15px;
    text-indent: 0;
    overflow: hidden;
    text-align: left;
    position: relative;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-right: 5px;
    -webkit-transition: all 0.5s cubic-bezier(0.22, 0.81, 0.01, 0.99);
    transition: all 0.5s cubic-bezier(0.22, 0.81, 0.01, 0.99);
    z-index: 10;
    cursor: pointer;
}
.indicators-line > .carousel-indicators li:last-child {
    margin-right: 0;
}
.indicators-line > .carousel-indicators .active {
    margin: 1px 5px 1px 1px;
    /* box-shadow: 0 0 0 2px #fff;
   background-color: transparent;*/
    
    position: relative;
    -webkit-transition: box-shadow 0.3s ease;
    -moz-transition: box-shadow 0.3s ease;
    -o-transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}
.indicators-line > .carousel-indicators .active:before {
    transform: scale(0.5);
    background-color: #bc9f60;
    content: "";
    position: absolute;
    left: -1px;
    top: -1px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}
/* -----------------------------------------------------------------------------------------
-------------------Slider end---------------------------------------------------*/
/* -----------------------------------------------------------------------------------------
-------------------Blink btn start ---------------------------------------------------*/

.btn-nonactive {
    -webkit-border-radius: 10px;
    cursor: pointer;
}
@-webkit-keyframes glowing {
    0% {
        background-color: #fff;
        -webkit-box-shadow: 0 0 3px #fff;
    }
    50% {
        background-color: #fff;
        -webkit-box-shadow: 0 0 40px #fff;
    }
    100% {
        background-color: #fff;
        -webkit-box-shadow: 0 0 3px #fff;
    }
}
@-moz-keyframes glowing {
    0% {
        background-color: #fff;
        -moz-box-shadow: 0 0 3px #fff;
    }
    50% {
        background-color: #fff;
        -moz-box-shadow: 0 0 40px #fff;
    }
    100% {
        background-color: #fff;
        -moz-box-shadow: 0 0 3px #fff;
    }
}
@-o-keyframes glowing {
    0% {
        background-color: #fff;
        box-shadow: 0 0 3px #fff;
    }
    50% {
        background-color: #fff;
        box-shadow: 0 0 40px #fff;
    }
    100% {
        background-color: #fff;
        box-shadow: 0 0 3px #fff;
    }
}
@keyframes glowing {
    0% {
        background-color: #fff;
        box-shadow: 0 0 3px #fff;
    }
    50% {
        background-color: #fff;
        box-shadow: 0 0 40px #fff;
    }
    100% {
        background-color: #fff;
        box-shadow: 0 0 3px #fff;
    }
}
.btn-nonactive {
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
}
/* -----------------------------------------------------------------------------------------
-------------------Blink btn end ---------------------------------------------------*/
/* -----------------------------------------------------------------------------------------
-------------------Inside Span start ---------------------------------------------------*/

.insidespan-metronomic {
    float: right;
    margin-right: 15px;
}
.insidespan-nicci {
    float: right;
    margin-right: 12px;
}
.insidespan-satellite {
    float: right;
    margin-right: 169px;
}
.insidespan-crossroad {
    float: right;
    margin-right: 1px;
}
/* -----------------------------------------------------------------------------------------
-------------------Inside Span end ---------------------------------------------------*/

.no_btn a img {
       width: 23px;
    margin-top: -4px;
}
.no_btn {
    float: right;
    margin-right: 39px;
    color: #bc9f60 !important;
    text-transform: uppercase;
}
.no_btn3 a img {
       width: 23px;
    margin-top: -4px;
}
.no_btn3 {
    float: right;
    margin-right: 18px;
    color: #bc9f60 !important;
    text-transform: uppercase;
}
/* video strat*/

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
    position: absolute;
    top: -28px;
    bottom: 0;
    left: 61px;
    width: 90%;
    height: 100%;
    border: 0;
}
/* video end*/

.verticalline-confer {
    border-left: 1px solid #cbc9c9;
    margin-top: -11px;
}
/* bootom-18*/

.bottom-18 {
    margin-bottom: 18px;
}
/* backgray*/

.back-gray-colorectal {
    background-color: #f8f7f7;
    margin-left: 75px;
    margin-right: 65px;
    padding: 11px 0px 0px 0px;
}